<a href="/artists">View Artists</a>
<a href="/artists/new">Add an Artist</a>
<a href="/albums">View Albums</a>
<a href="/albums/new">Add an Album</a>
<a href="/stock">View Stock</a>
<a href="/stock/new">Add an album to be Stocked</a>
<a href="/inventory">Buy and Sell Stock</a>
