<a href="/artists"><div>View Artists</div></a>
<a href="/artists/new"><div>Add an Artist</div></a>
<a href="/albums"><div>View Albums</div></a>
<a href="/albums/new"><div>Add an Album</div></a>
<a href="/stock"><div>View Stock</div></a>
<a href="/stock/new"><div>Add an album to be Stocked</div></a>
<a href="/inventory"><div>Buy and Sell Stock</div></a>
