<div class="home_search">
  Artists
  <a href="/artists"><div class="home_items">View Artists</div></a>
  <a href="/artists/new"><div class="home_items">Add Artist</div></a>
</div>

<div class="home_search">
  Albums
  <a href="/albums"><div class="home_items">View Albums</div></a>
  <a href="/albums/new"><div class="home_items">Add Album</div></a>
</div>

<div class="home_search">
  Stock
  <a href="/stock"><div class="home_items">View Stock</div></a>
  <a href="/stock/new"><div class="home_items">Add Album to Stock</div></a>
</div>

<div class="home_search">
  Inventory
  <a href="/inventory"><div class="home_items">Inventory</div></a>
</div>
