<!DOCTYPE html>
<html>
<head>
  <title>Keith's Music Store</title>
  <link rel="stylesheet" type="text/css" href="/music_store_stylesheet.css">
  <link href='https://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css'>
</head>
<header>Music Store Manager</header>
<body>

  <%= yield %>

</body>
<footer></footer>
</html>