<h1>Search Results</h1>


  <% @result.each do |album| %>
    <div class="search_results">
      <h3> <%= album.title %> </h3> 
      <h3> <%= album.buy_price  %></h3>
      <h3> <%= album.sell_price  %></h3>
    </div>
  <% end %>






