<form action="/artists/<%= @artist.id %>" method="post">

  <label>Artist name/group name</label>
    <input type="text" name="name"></input>
    <input type="submit" value="Update Artist Information"></input>

</form>