<h2 class="artist_index">Artists</h2>


<% @artists.each do |artist| %>
<div class="artist_info">
  <h3><%= artist.name %></h3>
  
  <a href="/artists/<%= artist.id %>"><div class="artist_link"> View Artist's Albums</div></a>
  <a href="/artists/<%= artist.id %>/edit"><div class="artist_link">Edit Artist</div></a>
  
  <form id="artist_actions" action="/artists/<%= artist.id %>/delete" method="post">
    <input type="submit" value="Remove Artist"></input>
  </form>

</div>

<% end %>

<div id="home_link"><a href="/">Home</a></div>
