<form class="artist_form" action="/artists" method="post">

  <label>Artist name/group name</label>
    <input type="text" name="name"></input>
    <button id="new_artist_form" type="submit">Add Artist</button>

</form>