<form class="artist_form" action="/artists" method="post">

  <label>Artist name/group name</label>
    <input type="text" name="name"></input>
    <input type="submit" value="Add Artist to Database"></input>

</form>