
<h2 class="artist_show"><%= @artist.name %></h2>
<h3>Albums:</h3>
  <% @albums.each do |album| %>
    <div class="artists_albums">
      
        <div class="album_name"><%= album.title %></div>
        <div class="album_link"><a href="/albums/<%= album.id %>">View Album</a></div>
    </div>

  <% end %>


<div id="artist_home"><a href="/artists">Artists Home</a></div>


