
<h2><%= @artist.name %></h2>
<h3>Albums:</h3>
  <% @albums.each do |album| %>
    <div class="artists_albums">
      
        <div class="album_name"><%= album.title %></div>
    </div>

  <% end %>


<a href="/artists"><div id="artist_home">Artists Home</div></a>


