
<h2 class="artist_show"><%= @artist.name %></h2>

  <% @albums.each do |album| %>
    <div class="artists_albums">
      
        <div class="album_name"><%= album.title %></div>
        <a href="/albums/<%= album.id %>"><div class="album_link">View Album</div></a>
    </div>

  <% end %>


<div id="artists_home"><a href="/artists">Artists Home</a></div>


