<div id="stock_index">
  <h3>Stock</h3>

    <table class="stock_table">
      <thead>
        <th>Album Id</th>
        <th>Album</th>
        <th>Artist</th>
        <th>Quantity in Stock</th>
      </thead>

      <tbody>
        
        <% @stock_views.each do |stock_item| %>
          <tr>
            <td><%= stock_item.album_id %></td>
            <td><%= stock_item.album_title %></td>
            <td><%= stock_item.artist_name %></td>
            <td><%= stock_item.quantity %></td>
          </tr>
        
        <% end %>
      </tbody>

    </table>
</div>
<br>
<div id="home_link"><a href="/">Home</a></div>