<form class="album_form" id="album_form_edit" action="/albums/<%= @album.id %>" method="post">

  <legend>Edit Album</legend>

    <label>Title:</label>
    <input type="text" name="title" value="<%= @album.title %>" required/>

    <label>Sell Price(£):</label>
    <input type="number" name="sell_price" value="<%= @album.sell_price %>" required/>
     
    <input type="hidden" name="artist_id" value="<%= @album.artist_id %>"/>
    
    <button type="submit">Update Album</button>


</form>