<h2 class="albums_index">Albums</h2>
  
  <% @albums.each do |album| %> 
    <div class="album">
     <h3><%= album.title %></h3>

     <a href="/albums/<%= album.id %>"><div class="album_index_link">View Album</div></a>


    </div>

  <% end %>

  <div id="home_link"><a href="/">Home</a></div>
     
